[color "status"]
	changed = yellow
[core]
	editor = nvim
	excludesfile = /Users/johndonovan/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX
  #pager = nvim -R
[merge]
	conflictstyle = diff3
	tool = Kaleidoscope
[mergetool]
  keepBackup = false
  keepTemporaries = false
  prompt = false
  tool = p4merge
[user]
	email = john@asktia.com
	name = John Donovan
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope

# useful aliases
#
[alias]
  recent-branches = "for-each-ref --sort=-committerdate --count=${1:-10} --format='%(refname:short)' refs/heads/"
  rel-log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%ae (%cr)%Creset' --abbrev-commit --date=relative
	showtool = "!f() { git difftool ${1:-HEAD}~1 ${1:-HEAD} -- ':(exclude)**.zip'; }; f"
  cane = commit --amend --no-edit
	nuke = !sh -c \"git branch -D $1 && git push origin :$1\" -
[http]
	cookiefile = /Users/jjdonov/.gitcookies
[commit]
	template = /Users/johndonovan/.stCommitMsg
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$LOCAL $PWD/$REMOTE $PWD/$MERGED
[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[color]
  #pager = no
