[color "status"]
	changed = yellow
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[merge]
	conflictstyle = diff3
	tool = opendiff
[mergetool]
	keepBackup = false
	path = nvim
	prompt = false

#[mergetool "vimdiff"]
#	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[user]
	email = jjdonov@gmail.com
	name = John Donovan
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = opendiff
[difftool "opendiff"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "opendiff"]
	cmd = opendiff -merge \"$MERGED\" \"$LOCAL\" \"$REMOTE\"
  trustExitCode = false

# useful aliases
#
[alias]
  recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
[http]
	cookiefile = /Users/jjdonov/.gitcookies
